<footer class="footer">
    <script>
        function manageConsent() {
            if (WcpConsent.siteConsent.isConsentRequired) {
                WcpConsent.siteConsent.manageConsent();
            }
        }
    </script>

    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <ul class="links">
                    <li>
                        <span class="message">Hello from Toulouse.</span>
                    </li>
                    <li>
                        <a class="github-button" href="https://github.com/lapce/plugin-server-protocol" data-icon="octicon-star" data-show-count="true" aria-label="Star Microsoft/plugin-server-protocol on GitHub">Star</a>
                    </li>
                    <li>
                        <a class="github-button" href="https://github.com/lapce/plugin-server-protocol/subscription" aria-label="Watch lapce/plugin-server-protocol on GitHub">Watch</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="links">
                    <li style="display: none;" >
                        <a id="footer-cookie-link" style="cursor: pointer; padding-right:20px" onclick="manageConsent()"
                            aria-label="Manage cookies">Manage cookies</a>
                    </li>
                    <li>
                        <div class="copyright">
                            <a id="footer-lapce-link" class="logo" href="https://lapce.dev">
                                <picture>
                                    <source srcset="https://raw.githubusercontent.com/lapce/lapce/master/extra/images/logo.png" media="(prefers-color-scheme: dark)"></source>
                                    <img src="https://raw.githubusercontent.com/lapce/lapce/master/extra/images/logo.png" style="max-height: 30%;max-width: 30%;" alt="Lapce">
                                </picture>
                            </a>
                        </div>
                        <div>
                            <span>2022 Lapce</span>
                            <span>This work is based on the <a href="https://microsoft.github.io/language-server-protocol">LSP protocol</a> </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
